/target
vol/*
!vol/**/.gitkeep
.DS_Store
notes.md
blah
.env
bitcoind
somefile
perm.md
notes-new.md
notes-*.md
.env.*
!.env.example
.labels.*
reset.sh
src/bin/stack/notes
src/bin/cln/creds
src/bin/stack/app/node_modules
somefile.md
.idea
ecosystem.config.js
tester.zip
unzipped
models/*
!models/.gitkeep
.*
.qodo
