html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


html {
	font-size: 13px;
}
@media only screen and (min-width: 400px) {
	html {
		font-size: 16px;
	}
}
@media only screen and (min-width: 768px) {
	html {
		font-size: 19px;
	}
}

.lefty .bx--assistive-text {
	display: none !important;
}
.lefty button::before {
	display: none !important;
}
.bx--btn--selected {
	background:#7d89ff !important;
}
.bx--btn--selected:focus {
	border-color: transparent !important;
    box-shadow: none !important;
}
.bx--btn--primary {
	background:#7d89ff !important;
}
.bx--btn--primary:hover {
	background:#646fd4 !important;
}
.bx--btn--primary:disabled {
	background:#525252 !important;
}
.bx--toggle-input:checked+.bx--toggle-input__label>.bx--toggle__switch::before{
	background:#7d89ff !important;
}
